<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>

  <add name="GD2C2015" connectionString="Data Source=localHost\\SQLSERVER2012;Initial Catalog=GD2C2015 ;User ID= gd;Password= gd2015"/>
  
  </connectionStrings>
  <appSettings>
    <add key="fecha" serializeAs="String" value="2015-12-31 12:10:10.000"/>
  </appSettings>
</configuration>




    